@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap");

@layer components {
  .btn {
    @apply inline-flex items-center px-6 py-2 font-semibold rounded appearance-none focus:outline-none focus:ring;
  }

  .btn:hover {
    box-shadow: inset 0 0 0 30em var(--black-05, rgba(0, 0, 0, 0.05));
  }

  .btn:active {
    box-shadow: inset 0 0 0 30em var(--black-20, rgba(0, 0, 0, 0.2));
  }

  .btn[disabled] {
    opacity: 0.7;
  }

  .input {
    @apply block w-full px-3 py-2 leading-normal text-left bg-white border border-gray-300 rounded-lg appearance-none focus:outline-none focus:ring dark:bg-gray-900 dark:border-gray-700;
  }
}

@layer utilities {
  .azaret {
    font-family: "Azeret Mono", monospace;
  }

  .rainbow {
    background-color: black;
    background-image: linear-gradient(
      to right,
      var(--light-purple),
      var(--purple),
      var(--blue),
      var(--green),
      var(--yellow),
      var(--orange),
      var(--red)
    );
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
* {
  @apply azaret;
}

body {
  @apply bg-white dark:bg-gray-900 text-black dark:text-white;
}

:root {
  --light-purple: #ac62ed;
  --purple: #4e00e0;
  --blue: #38aef4;
  --green: #4bde79;
  --yellow: #ffed26;
  --orange: #ffae5f;
  --red: #ff5353;
}
